<a href="<%= html_url %>" target="_blank">
  <section>
    <div class="section_title"><%= name %></div>
    <div class="about_section">
      <span style="display:block;"><%= description %></span>
    </div>
    <div class="bottom_section">
      <% if (typeof language != 'undefined' && language) { %>
        <span style="display:inline-block;"><i class="fas fa-code"></i>&nbsp; <%= language %></span>
      <% } %>
      <% if (typeof license != 'undefined' && license && typeof license.spdx_id != 'undefined' && license.spdx_id) { %>
        <span style="display:inline-block;"><i class="fas fa-balance-scale"></i>&nbsp; <%= license.spdx_id %></span>
      <% } %>
      <% if (stargazers_count > 0) { %>
        <span><i class="fas fa-star"></i>&nbsp; <%= stargazers_count %></span>
      <% } %>
      <% if (forks_count > 0) { %>
        <span><i class="fas fa-code-branch"></i>&nbsp; <%= forks_count %></span>
        <% } %>
    </div>
  </section>
</a>