<a href="<%= html_url %>" target="_blank">
  <section>
    <div class="section_title"><%= name %></div>
    <div class="about_section">
      <span style="display:block;"><%= description %></span>
    </div>
    <div class="bottom_section">
      <span style="display:inline-block;"><i class="fas fa-code"></i>&nbsp; <%= language %></span>
      <span><i class="fas fa-star"></i>&nbsp; <%= stargazers_count %></span>
      <span><i class="fas fa-code-branch"></i>&nbsp; <%= forks_count %></span>
    </div>
  </section>
</a>