<a href="<%= url %>" target="_blank">
  <section>
    <div class="leftTile">
      <img data-src="img/<%= image %>" class="lozad" alt="<%= name %> Icon" height="85" width="85" />
    </div>
    <div class="rightTile">
      <div class="section_title"><%= name %></div>
      <div class="about_section">
        <span style="display:block;"><%- description %></span>
      </div>
    </div>
  </section>
</a>