<a href="<%= url %>" target="_blank">
  <section>
    <div class="section_title"><%= name %></div>
    <div class="about_section">
      <span style="display:block;"><%= description %></span>
    </div>
    <div class="bottom_section">
      <span style="display:inline-block;"><i class="fas fa-<%= bottom_icon %>"></i>&nbsp; <%= bottom_text %></span>
    </div>
  </section>
</a>